app-root {
  font-family: Arial, sans-serif;
}
.nav-link.active {
  color: #0d6efd!important;
}
.order {
  padding: 50px 0;
}
.slide-text {
  padding: 200px 20px 200px 20px;
  max-width: 620px;
}
.single-item {
  width: 100%;
  height: max-content;
  background-image: url("assets/images/slide-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .slide-text {
    max-width: 620px;
  }
  .single-item {
    background-position: center;
  }
}
@media screen and (max-width: 616px) {
  .slide-text-3 {
    max-width: 500px;
  }
  .single-item img {
    margin-left: -540px;
  }
}
@media screen and (max-width: 418px) {
  .slide-text-3 {
    max-width: 320px;
  }
}
@media screen and (max-width: 576px) {
  .slide-text-2 {
    max-width: 500px;
  }
}
@media screen and (max-width: 490px) {
  .slide-text-2 {
    max-width: 400px;
  }
}
@media screen and (max-width: 380px) {
  .slide-text-2 {
    max-width: 320px;
  }
}
@media screen and (max-width: 410px) {
  .slide-text {
    max-width: 350px;
    padding-left: 3px;
  }
}
@media screen and (max-width: 340px) {
  .slide-text {
    max-width: 290px;
    padding-left: 3px;
  }
}

.slick-prev {
  width: 40px;
  height: 40px;
  left: 10px;
  z-index: 10;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #076BFF;
}
.slick-prev:before {
  content: url("assets/images/arrow-left.svg");
  margin-right: 2px;
}
.slick-next {
  width: 40px;
  height: 40px;
  right: 10px;
  z-index: 10;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #076BFF;
}
.slick-next:before {
  content: url("assets/images/arrow-right.svg");
  margin-left: 2px;
}

.accordion .ui-accordion-header {
  position: relative;
}
.accordion .ui-accordion-header-icon {
  content: '';
  position: absolute;
  top: 33px;
  right: 24px;
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url('assets/images/arrow-up.svg') 50% 50% no-repeat;
}
.accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url('assets/images/arrow-down.svg');
}

.hvr-sweep-to-right {
  border-radius: 5px;
}
.hvr-sweep-to-right:before {
  background: #076BFF;
  border-radius: 5px;
}
.hvr-trim:before {
  border: rgba(255, 255, 255, .2) solid 4px;
  border-radius: 5px;
}

.input-error {
  margin-left: 5px;
  font-size: 11px;
}

.popup-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.popup {
  position: relative;
  text-align: center;
  background: #ffffff;
  width: 600px;
  height: 200px;
  border-radius: 20px;
}
.popup.order {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-title {
  font-weight: bold;
}
.close {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0d6efd;
  border-radius: 50git%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
